<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="{{ favicon }}">
        <link rel="stylesheet" href="/static/{{ config.stylesheet }}">
        {% if code == 'true' %}
            <link rel="stylesheet" href="/static/default.min.css">
        {% endif %}
    </head>
    <body>
        <main>
            <div class="titlebar">
                <h2>~/{{ builtin.path }}</h2>
            </div>
            <div class="content">
            {{ content | safe }}
            </div>
        </main>

        {% if code == 'true' %}
            <script src="/static/highlight.min.js"></script>
            <script>hljs.highlightAll();</script>
        {% endif %}
    </body>
</html>
