<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ favicon }}" />
    <link rel="stylesheet" href="/static/{{ config.stylesheet }}" />
    <meta name="description" content="Arcade's digital home" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if code == 'true' %}
    <link rel="stylesheet" href="/static/default.min.css" />
    {% endif %}
  </head>
  <body>
    <main>
      <div class="titlebar">
        <h2>
          <a href="/"> ~/{{ builtin.path }} </a>
          {% if ai == 'true' %}
          <a class="ai" href="/AI.html">AI</a>
          {% endif %}
        </h2>
      </div>
      <div class="content">{{ content | safe }}</div>
    </main>

    <div class="widgets">
      <img src="/static/pan_bev.png" />
      <img src="/static/trans_bev.png" />
      <img src="/static/enby_bev.png" />

      <img src="/static/anow.gif" />
      <img src="/static/antiNFT.gif" />

      <img src="/static/linux-p.gif" />
      <img src="/static/pensquid.gif" />
    </div>

    {% if builtin.path == 'index.md' %}

    <div class="main-iframe">
      <iframe
        src="https://overengineering.kognise.dev/embed/arcade"
        width="100%"
        height="100"
        style="user-select: none"
        frameborder="0"
      />
    </div>
    {% endif %} {% if code == 'true' %}
    <script src="/static/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    {% endif %}
  </body>
</html>
